<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Basic Admin Panel</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">
    <link href="{{ asset('limitless/assets/css/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('limitless/assets/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('limitless/assets/css/core.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('limitless/assets/css/components.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('limitless/assets/css/colors.css') }}" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <style>
        .page-title {
            padding: 15px 18px 16px 0;
        }

        #navbar-second .breadcrumb{
            display: inline-block;
        }
    </style>

    {% block head %} {% endblock %}

    <!-- Core JS files -->
    <script type="text/javascript" src="{{ asset('limitless/assets/js/plugins/loaders/pace.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('limitless/assets/js/core/libraries/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('limitless/assets/js/core/libraries/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('limitless/assets/js/plugins/ui/nicescroll.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('limitless/assets/js/plugins/ui/drilldown.js') }}"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="{{ asset('limitless/assets/js/core/app.js') }}"></script>
    <!-- /theme JS files -->

</head>

<body>

{% include '@Admin/includes/header.html.twig' %}

<!-- Second navbar -->
<div class="navbar navbar-default" id="navbar-second">
    {{ apy_breadcrumb_trail_render() }}
    <ul class="breadcrumb action-buttons pull-right">
        {% block action_buttons %} {% endblock %}
    </ul>
    <ul class="nav navbar-nav no-border visible-xs-block">
        <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i
                        class="icon-menu7"></i></a></li>
    </ul>

    <div class="navbar-collapse collapse" id="navbar-second-toggle">

    </div>
</div>
<!-- /second navbar -->

<!-- Page header -->
<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4>
                <i class="icon-arrow-left52 position-left"></i>
                <span class="text-semibold">
                    {% block page_header %} {% endblock %}
                </span> - {% block page_description %} {% endblock %}
            </h4>
        </div>
    </div>
</div>
<!-- /page header -->


<div class="col-md-12">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-error">
            {{ message }}
        </div>
    {% endfor %}
</div>

<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <div class="clearfix"></div>

        <!-- Main sidebar -->
        {% include '@Admin/includes/sidebar.html.twig' %}
        <!-- /main sidebar -->


        <!-- Main content -->
        <div class="content-wrapper">
            {% block content %}
            {% endblock %}
        </div>
        <!-- /main content -->

        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
            <div class="row">
                <div class="col-xs-12 flashDiv switchInfo" style="position: fixed;bottom: -20px;left: 0;z-index: 99;padding: 0;width: 100%;">
                    <div class="alert alert-warning alert-styled-left alert-arrow-left alert-bordered">
                        <p>
                            You are using this portal as <b>{{ app.user }}</b>.
                            Click <a href="{{ path(impersonator_user_list_path(), {'_switch_user': '_exit'}) }}">here</a>
                            to switch back. &nbsp;
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->

{% include '@Main/common/modal.html.twig' %}


<!-- Footer -->
<div class="footer text-muted">
    &copy; 2019. <a href="#">Limitless Web App Kit</a>
</div>
<!-- /footer -->

<script>
    $('.delete-item').on('click', function(e){
        e.preventDefault();
        var c = confirm('Are you sure ?');
        if(c){
            var href = $(e.target).attr('href');
            window.location.href = href;
        }
    });
</script>

{% block scripts %}

{% endblock %}

</body>
</html>