{% extends '@Admin/layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Country Form</h3>
                </div>
                <div class="box-body">
                    {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    <input type="submit" class="btn btn-primary" value="Save">
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Cities List</h3>
                </div>
                <div class="box-body">
                    {% if countries | length %}
                        <table class="table table-condensed table-bordered table-hover">
                            <thead>
                            <tr>
                                <td>SN</td>
                                <td>Name</td>
                                <td>Actions</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for c in countries %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ c.name }}</td>
                                    <td>
                                        <a href="{{ path('country_update',{id:c.id}) }}" class="btn btn-xs btn-primary">
                                            Edit
                                        </a>
                                        <a href="{{ path('country_delete',{id:c.id}) }}"
                                           class="btn btn-xs btn-danger delete-item">
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="alert alert-info">
                            <p>No countries available</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
