{% extends '@Admin/layout.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('assets/css/basic.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/dropzone.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/lightgallery.min.css') }}">
    <style>
        .dropzone, .media-wrapper-box{
            height: 400px !important;
            overflow-y: scroll;
        }
        .lightgallery img{
            height: auto;
            width: 100px;
        }
    </style>
{% endblock %}

{% block page_header %} Medias {% endblock %}
{% block page_description %} List {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Upload form</h3>
                </div>
                <div class="box-body">
                    <form id="fileUpload" enctype="multipart/form-data" class="dropzone"></form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="box box-info">
                <div class="box-header with-border">Medias List</div>
                <div class="box-body media-wrapper-box">
                    {% if medias | length %}
                    <table class="table table-bordered table-hover media-list">
                        <thead>
                        <tr>
                            <th>SN</th>
                            <th>Name</th>
                            <th>Details</th>
                            <th>File</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        {% for media in medias %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ media.filename }}</td>
                                <td>
                                    <span>
                                        <strong>Caption: </strong>
                                        {{ media.caption }}
                                    </span>
                                    <br>
                                    <span>
                                        <strong>Description: </strong>
                                        {{ media.description }}
                                    </span>
                                </td>
                                <td class="lightgallery">
                                    <a href="{{ media.fileUrl }}">
                                        <img src="{{ media.fileUrl }}" alt="{{ media.filename }}">
                                    </a>
                                </td>
                                <td>
                                    <a href="#"
                                       data-media-id="{{ media.id }}"
                                       class="btn btn-success btn-xs media-update-btn">
                                        Edit
                                    </a>
                                    <a href="{{ path('media_file_delete',{id:media.id}) }}"
                                       class="btn btn-xs btn-danger delete-item">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% else %}
                        <div class="col-md-12">
                            <div class="alert alert-info">No media files available.</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('assets/js/dropzone.js') }}"></script>
    <script src="{{ asset('assets/js/lightgallery-all.min.js') }}"></script>

    <script>
        Dropzone.autoDiscover = false;
        var url = "{{ oneup_uploader_endpoint('file') }}";
        new Dropzone("form#fileUpload", {
            url: url,
            uploadMultiple:true,
            success: function(file, response){
                console.log('file, response',file, response);
            },
            complete:function(file){
              this.removeFile(file);
            },
            queuecomplete:function(){
                window.location.href = '';
            },
        });

        $('.media-list').on('click','.media-update-btn', function(e){
            e.preventDefault();
            var modal = $('#commonModal');
            console.log(modal);
            var mediaId = $(this).data('media-id');
            var url = "{{ path('media_file_update',{id:'MEDIA_ID'}) }}";
            url = url.replace(/MEDIA_ID/,mediaId);
            $.ajax({
                url:url,
                success:function(data){
                    if(data && data.success){
                        modal.find('.modal-title').html('Update media');
                        modal.find('.modal-body').html(data.template);
                        modal.modal('toggle');
                    }
                }
            })
        });

        $(document).ready(function(){
            $('.lightgallery').lightGallery();
        });

    </script>

{% endblock %}
