{% extends '@Admin/layout.html.twig' %}

{% block page_header %} User {% endblock %}
{% block page_description %}
    {{ isUpdating ? "Update" : "Create" }}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="{{ isUpdating ? "Update" : "Create" }}" class="btn btn-primary pull-right">
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
